<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content for TWAirline</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<p th:text="'Welcome to TWAirline'"/>

<form th:action="@{/search}" th:object="${searchCriteria}" method="post">

    <!-- Source City -->
    <p th:text="'Source'"></p>
    <select name="fromCityId">
        <option th:each="city : ${cityList}" th:value="${city.id}" th:text="${city.name}"/>
    </select>

    <!-- Destination City -->
    <p th:text="'Destination'"></p>
    <select name="toCityId">
        <option th:each="city : ${cityList}" th:value="${city.id}" th:text="${city.name}"/>
    </select>

    <p th:text="'Travel Class'"></p>
    <select name="travelClassName">
        <option th:each="travelClassName : ${T(airline.model.TravelClass.TravelClassName).values()}"
                th:value="${travelClassName}"
                th:text="${travelClassName}" />
    </select>

    <!-- Number of Seats Needed -->
    <p th:text="'No.of Passengers'"></p>
    <select name="seatsNeeded">
        <option th:each="i : ${#numbers.sequence(1,10)}" th:value="${i}" th:text="${i}"/>
    </select>

    <!--Departure Date -->
    <p th:text="'Departure Date'"></p>
    <input type="date"  name="departureDate" th:min="${departureDate}" />

    <input type="submit" value="Search"/>
</form>

</body>
</html>