<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
table, th, td {
    border: 1px solid black;
}
</style>
</head>

<body>
<table>
    <caption>RESULTS : SEARCH FLIGHTS LIST</caption>
    <tr>
        <td>Flight No#</td>
        <td>Source City</td>
        <td>Destination City</td>
        <td>Available Seats</td>

    </tr>
<th:block th:each="flight : ${flights}">
    <tr>
        <td th:text="${flight.flightNo}"/>
        <td th:text="${flight.sourceCityId}"/>
        <td th:text="${flight.destinationCityId}"/>
        <td th:text="${flight.availableSeats}"/>
    </tr>
</th:block>
    </table>
</body>
</html>