<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
table, th, td {
    border: 1px solid black;
}
</style>
</head>

<body>
<table>
    <caption>RESULTS : SEARCH FLIGHTS LIST</caption>
    <tr>
        <th>Flight No#</th>
        <th>Source City</th>
        <th>Destination City</th>
        <th>Travel Class</th>
        <th>Available Seats</th>
        <th>Fare</th>

    </tr>
<th:block th:each="flightx : ${resultFlights}">
    <tr>
        <td th:text="${flightx.flightNo}"/>
        <td th:text="${flightx.sourceCityId}"/>
        <td th:text="${flightx.destinationCityId}"/>
        <td th:text="${flightx.travelClassName}"/>
        <td th:text="${flightx.numSeats}"/>
        <td th:text="${flightx.totalFare}"/>

    </tr>
</th:block>
    </table>
</body>
</html>